<div id="search" data-term="<%= @search_term %>"  data-count="<%= @result_count %>" data-refresh="<%= @refresh_rate %>" data-wait="<%= @wait %>"  />

<div id="tweet_container">

</div>

<div id="tweet_objects">

</div>