img.p_large {
    max-width: 300px;
}
img.p_medium {
    max-width: 200px;
}
img.p_small {
    max-width: 140px;
}

img.p_micro {
    max-width: 70px;
}
img.greyed_out {
    -webkit-filter: opacity(40%) contrast(100%) grayscale(95%);
    transform: scale(0.99);
}

img.hovered{
    border-width: 2px;
    box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
    transform: scale(1.0);
    transition: all .5s ease-in-out;
    border-width: 10pt;
}

.show_no_images img{
    display: none;
}

div.tooltip_popup{
    padding:30px;
    background-color: #000000;
    font-size: 26pt;
    color: whitesmoke;
    font-family: Helvetica, Arial, Sans-Serif;
    max-width: 500px;
}

/*.jBox-container {*/
    /*background-color: #000000;*/
    /*border-radius: 15px;*/
/*}*/

/*.jBox-pointer-bottom:after{*/
    /*background-color: #000000;*/
/*}*/

div#tweet_objects{
    margin-left:80px;
    margin-top:30px;
}




/* Aries */
img#aries_profile_pic {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}

div#tweeter{
    font-family: "Helvetica Neue", Arial, sans-serif;;
    font-size: 14pt;
    color: #55ACEE;
}

div#aries_tweet{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18pt;
}

img.aries_photo{
    max-width: 550px;
    margin-top: 10px;
}

img.aries_container_photo{
    max-width: 390px;
}

.tweetModal{
    background-color: #000000;
    color: lightslategray;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 5px ; /*rgba(255,255,255,1);*/
}

.topbar {
    /*background-color: #2C4762;*/
    margin-top: 0;
    width: 99%;
    font-size: 18pt;
    color: white;
    font-family: lucida grande, verdana, sans-serif;
    padding:5px;
    padding-left:10px;
    border-radius: 10px;
    border-weight: 2pt;
    font-weight: bold;
}